    body{        
        padding-top: 60px;
        padding-bottom: 40px;
        font-family: Ubuntu;
    }
    .container{
        width: 80%;
        margin: 0 auto; /* Center the DIV horizontally */
    }
    .fixed-header, .fixed-footer{
        width: 100%;
        position: fixed;        
        background: #333;
        padding: 10px 0;
        color: #fff;
    }
    .fixed-header{
        top: 0;
        height: 40px;
        background-color: white;

    }
    .fixed-footer{
        bottom: 0;
        text-align: center;
        height: 40px;
    }    

    .center-text {

        color: grey;

    }
    /* Some more styles to beutify this example */
    nav a{
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
    }
    .container p{
        line-height: 20px; /* Create scrollbar to test positioning */
    }

    #arrow {

        color: lightgrey;
    }
    .h2-text {

        color: teal;
        vertical-align: middle;
        font-family: ubuntu;
        left: 14px;    
        position: relative;

    }


    .h1-text {
        color: teal;
        font-weight: bold;
        position: relative;
        left : 10% ;    
    }


    .h3-text {
        padding-top: 0cm;  
        left: 10px;
        vertical-align: middle;
        position: relative;
    }


    .title-bar {
        width: 200px;
        height: 160px;
        margin: 0 auto;
        color: teal;
        background-color: white;
        border-style: solid;
        border-color: white;
        position: absolute;
        margin: -100px 0 0 -200px;
        top: 0%;
        left: 20%;
    }


    .left-container {
        width: 700px;
        height: 475px;
        margin: 0 auto;
        background-color: white;
        float: left;
        border-style: solid;
        border-color: lightgrey;
        position: absolute;
        margin: -100px 0 0 -200px;
        top: 30%;
        left: 20%;
    }

    .left-container2 {
        width: 700px;
        height: 475px;
        margin: 0 auto;
        background-color: white;
        float: left;
        border-style: solid;
        border-color: lightgrey;
        position: absolute;
        margin: -100px 0 0 -200px;
        top: 30%;
        left: 20%;
    }

.top-right-container {
    
    position: relative;
    right : 12%;

    }

a.top-right-container {
    
    position: relative;
    right : 21%;
    color: black;
    
    }

.text-box {

    height: 35px;
    width: 650px;
    border-style: solid;
    border-color: lightgrey;
    left: 10px;
    position: relative;

}

.email-box {

    height: 35px;
    width: 650px;
    border-style: solid;
    border-color: lightgrey;
    left: 10px;
    position: relative;

}

.comment-box {

    height: 45px;
    width: 650px;
    border-style: solid;
    border-color: lightgrey;
    left: 10px;
    position: relative;

}

a{
    padding: 0px;
    margin: 0px;
}

.right-container {
    width: 320px;
    height: 200px;
    margin: 0 auto;
    background-color: white;
    position: absolute;
    margin: -100px 0 0 -200px;
    top: 30%;
    right: 10%;
    border-style: solid;
    border-color: lightgrey;
    }

.body-text {

    background-image: url(images/Gray-texture-pictures-backgrounds-download.jpg);
}

.style1 {
  height: 30px; 
  border-style: solid; 
  border-color: lightgrey; 
  border-width: 1.5px 0 0 0; 
  width: 95%;
} 


#nav-bar li {
    list-style: none;
    text-decoration-color: red;
    overflow: hidden;
    display: block;
}

